# Xcode
build/
DerivedData/
*.xcodeproj
*.xcworkspace
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Secrets
*.p8
*.p12
*.mobileprovision
fastlane/.env
.match-password.txt

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
